{{/*
Argo CD Applcation name defaults to release name,
but can be overriden in values.yaml
*/}}
{{- define "kristian-app.argoCDApplicationName" -}}
{{- default .Release.Name .Values.image.autoUpdate.ArgoCDApplicationName }}
{{- end }}

{{- if .Values.image.autoUpdate.enabled }}
apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: my-image-updater
spec:
  namespace: argocd
  gitConfig:
    repository: "git@github.com:myorg/myrepo.git"
    branch: "main"
    writeBackTarget: "helmvalues:{{ .Values.image.autoUpdate.updateGitPath }}"
  applicationRefs:
    - namePattern: "{{ include "kristian-app.argoCDApplicationName" . }}"
      images:
        - alias: "{{ .Values.image.name }}"
          imageName: "{{ .Values.image.repo }}/{{ .Values.image.name }}:{{ .Values.environment }}"
          {{- if eq .Values.image.autoUpdate.updateStrategy "digest" }}
          commonUpdateSettings:
            updateStrategy: "digest"
          {{- end }}
{{- end }}